@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

.EditorContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ActionBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1vw 1vw 0 1vw;
}

.ActionBar img {
  width: 4vw;
}

.ActionBar div {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.ActionBar div button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 1rem;
}
.ActionBar div button img {
  width: 1rem;
}

.Editor {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

#output {
  place-self: center;
  height: 60vh;
  width: 60%;
  max-height: 60vh;
  max-width: 100%;
  resize: both;
  overflow: auto;
  background-color: var(--TextColor);
  border-radius: 10px;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-grow: 1;
}

.input-group {
  min-height: 20vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

label {
  margin: 0 0 5px 10px;
}

#HTML,
#CSS,
#JS {
  overflow: scroll;
  flex-grow: 1;
  width: 100%;
  height: auto;
  resize: none;
  color: var(--TextColor);
  background-color: var(--SecondaryElementBgColor);
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 10px;
}

/* HTML Handling */

.editor {
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  min-height: 200px;
}

.html-tag {
  color: red;
}

/* Fond Noir */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-overlay.open {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  position: relative;
  color: var(--TextColor);
  background-color: var(--SecondaryElementBgColor);
  padding: 2vw;
  border-radius: 10px;
  max-width: 40vw;

  animation: fadeIn 0.3s ease;
}
.modal-content button {
  margin-top: 4vh;
  text-align: center;
}

.modal-content h2 {
  text-align: center;
}
.modal-content h3 {
  margin-top: 3vh;
}

.Information {
  margin: 2vh 0 0 3vh;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.hrInfo {
  width: 1px;
  height: auto;
  background-color: var(--TextColor);
  border: none;
  align-self: stretch;
}

.closeButton {
  width: 100%;
}
