:root {
  --TextColor: #dfdfd6;
  --LowTextColor: #98989f;
  --PageBgColor: #1b1b1f;
  --ElementBgColor: #161618;
  --SecondaryElementBgColor: #202126;
  --AccentColor: #949fff;
}
@font-face {
  font-family: "MontrealBold";
  src: url("assets/fonts/PPNeueMontreal-Bold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MontrealRegular";
  src: url("assets/fonts/PPNeueMontreal-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MontrealRegular", sans-serif;
  background-color: var(--PageBgColor);
  color: var(--TextColor);
}

.box {
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

.containerPostImage {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 1rem;
  aspect-ratio: 14/9;
}

.NewPostButton {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
  padding: 1rem 1.5rem;
  background-color: var(--AccentColor);
  color: var(--TextColor);
  text-decoration: none;
  text-align: center;
  border-radius: 1000vw;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.NewPostButton p {
  margin: 0; /* Supprime les marges par défaut */
  font-size: 2.5vh; /* Taille du texte */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.NewPostButton svg {
  height: 3vh;
  width: auto;
  flex-shrink: 0;
}
