.grid-container {
  margin: 0 auto 10vh auto;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crée 3 colonnes égales */
  gap: 3vw; /* Espacement entre les éléments de la grille */
}

.grid-item {
  background-color: var(--ElementBgColor);
  padding: 1vw;
  border-radius: 1rem;
}

.grid-item h3 {
  margin: 1vw 0;
}

.postUser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerPostImage {
  display: block;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 1rem;
  aspect-ratio: 14/9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.userInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--LowTextColor);
}

.userInfo img {
  width: 3vw;
  border-radius: 100%;
  margin-right: 0.5vw;
}

.postUser button {
  color: var(--TextColor);
  background-color: var(--SecondaryElementBgColor);
  padding: 0.5vw 1vw;
  border-radius: 3px;
}

.AucunPost {
  grid-column: span 3; /* Pour occuper toute la largeur de la grille */
  display: flex; /* Activer flexbox */
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement */
  height: 50vh; /* Prendre toute la hauteur disponible */
  text-align: center; /* Centrer le texte */
  font-size: 2rem; /* Ajuster la taille de la police pour une meilleure lisibilité */
  color: var(--LowTextColor); /* Utiliser une couleur adaptée */
}
