.SocialNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vw;
}

.Logo,
.UserPP {
  height: 3vw;
  width: 3vw;
  border-radius: 100%;
}

.UserPP.inactive {
  border: 2px solid var(--PageBgColor);
  transition-duration: 0.3s;
}
.UserPP.active {
  border: 2px solid var(--AccentColor);
  transition-duration: 0.3s;
}

.ProfileContainer {
  position: relative;
}

.DropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--PageBgColor);
  border-radius: 0.5vw;
  padding: 0.5vw;
  display: flex;
  flex-direction: column;
  width: 12vw;
  z-index: 10;
}

.dropdown-link {
  text-decoration: none;
  color: var(--TextColor);
  border-radius: 0.5vw;
  padding: 0.5vw;
  margin-bottom: 0.5vw;
  text-align: center;
  font-size: 1.2vw;
}

.dropdown-link:hover {
  background-color: var(--ElementBgColor);
}

.logout-btn {
  font-size: 1.2vw;
  border-radius: 0.5vw;
  background: none;
  border: none;
  padding: 0.5vw;
  text-align: center;
  background-color: #da3131;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #ce2f2f;
}

.LinkContainer {
  overflow: hidden;
  display: flex;
  list-style-type: none;
  background-color: var(--ElementBgColor);
  border-radius: 1rem;
}

.navLink {
  color: var(--TextColor);
  text-decoration: none;
  padding: 1.25rem 7rem;
  font-size: 1.5vw;
  position: relative;
  transition: color 0.3s;
}

.navLink:first-child {
  border-right: 2px solid var(--PageBgColor);
}
.navLink:last-child {
  border-left: 2px solid var(--PageBgColor);
}

.navLink.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--AccentColor);
  transition: width 0.3s ease;
}

.navLink:not(.active)::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0.2rem;
  background-color: var(--AccentColor);
  transition: width 0.3s ease, left 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
  left: 0;
}
